.notification {
  color: var(--color-purple);
}

.slideDown {
  animation: slideDown 1s ease-out;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
