version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    open-pull-requests-limit: 10
    schedule:
      interval: 'weekly'
    groups:
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - 'react-test-renderer'
          - '@types/react'
          - '@types/react-dom'
      typescript-eslint:
        patterns:
          - '@typescript-eslint/*'
