service cloud.firestore {
  match /databases/{database}/documents {
    match /slides/{slide} {
      allow get, create: if true;
      allow delete, list, update: if false;
    }
    match /visits/{visit} {
      allow get, delete, list, update: if false;
      allow create: if true;
    }
  }
}
service firebase.storage {
  match /b/{bucket}/o {
    match /images {
      match /{slideId}/{imageId} {
        allow read;
        allow write: if request.resource.size < 500 * 1024
          && request.resource.contentType.matches('image/.*')
          && resource == null;
      }
    }
  }
}
