service cloud.firestore {
  match /databases/{database}/documents {
    match /slides/{slide} {
      allow get, create: if true;
      allow delete, list, update: if false;

      match /images/{image} {
        allow get, delete, list, update: if false;
        allow create: if true;
      }

      match /visits/{visit} {
        allow get, delete, list, update: if false;
        allow create: if true;
      }
    }
  }
}
