rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /slides/{slide} {
      allow get, create: if true;
      allow delete, list: if false;
      allow update: if !request.writeFields.hasAny(['createdAt', 'presentationId', 'visitedAt']);

      match /images/{image} {
        allow get, delete, list, update: if false;
        allow create: if true;
      }
    }
  }
}
