.singleSlideContainer {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.slidesContainer {
  background-color: var(--color-background);
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 1rem;
  position: absolute;
  scroll-behavior: smooth;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  .slidesContainer {
    padding: 2rem;
  }
}
