.imageContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.imageContainer img {
  max-height: 100%;
  max-width: 100%;
}
