.presentation {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.notificationContainer {
  top: 1rem;
  position: fixed;
}

.presentationToolbar {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  padding: 2rem;
  position: fixed;
  transition: opacity 0.1s ease-in;
  width: 100%;
}

.presentationToolbarHidden {
  opacity: 0;
}
